In [1]:
! pip install pyarrow
! pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (20.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (1.26.4)
Requirement already satisfied: cramjam>=2.3 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2.10.0)
Requirement already satisfied: fsspec in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2025.5.1)
Requirement already satisfied: packaging in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd

In [25]:
df = pd.read_csv('troop_movements_1m.csv')
df.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
0,2023-06-03 03:19:15,919214,tie_silencer,2.0,5.0,9,3,Aleen Minor
1,2023-02-24 13:50:40,9467154,stormtrooper,9.0,0.0,9,1,Malastare
2,2023-03-29 19:54:55,6585778,tie_silencer,0.0,6.0,5,9,Serenno
3,2023-04-30 00:58:11,3878023,tie_silencer,4.0,2.0,9,9,Tund
4,2023-04-10 22:00:26,5537117,at-st,6.0,8.0,5,8,Skako

In [26]:
# data check to see if we got the invalid_unit
if 'invalid_unit' in df['unit_type'].values:
    print('invalid unit in df')

invalid unit in df

In [27]:
df['unit_type'] = df['unit_type'].replace('invalid_unit', 'unknown')

In [28]:
# data check to see if we got the invalid_unit
if 'invalid_unit' in df['unit_type'].values:
    print('invalid unit in df')

In [30]:
df.head()

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
0,2023-06-03 03:19:15,919214,tie_silencer,2.0,5.0,9,3,Aleen Minor
1,2023-02-24 13:50:40,9467154,stormtrooper,9.0,0.0,9,1,Malastare
2,2023-03-29 19:54:55,6585778,tie_silencer,0.0,6.0,5,9,Serenno
3,2023-04-30 00:58:11,3878023,tie_silencer,4.0,2.0,9,9,Tund
4,2023-04-10 22:00:26,5537117,at-st,6.0,8.0,5,8,Skako

In [36]:
# another data cleaning check
print(df['location_x'].isnull().any())
print(df['location_y'].isnull().any())

True
True

In [41]:
df = df.ffill()

In [42]:
# another data cleaning check
print(df['location_x'].isnull().any())
print(df['location_y'].isnull().any())

False
False

In [43]:
df.to_parquet('troop_movements_1m.parquet')